In [3]:
import pandas as pd
import matplotlib.pyplot as plt

In [14]:
import jellyfish as j

In [7]:
file = "../../Sample tweets/noRTWT.csv"

In [9]:
# df = pd.read_csv(file, error_bad_lines=False)

In [10]:
df.head()

,username,tweet,location,followers_count
0,ryanstruyk,64% of voters say they are *not satisfied* wit...,"Washington, DC",76489
1,ThisWeekABC,Vice President Mike Pence says the U.S. is “sl...,NaN,194911
2,BrainiacBrands,How are you managing with little ones at home?...,United States,51378
3,dailystar,#Coronavirus turns Chinese doctors' skin black...,London,200708
4,TheDailyEdge,@NormOrnstein Tests per 1M/population:\n\n1. I...,Sign up for free email updates,185493

In [11]:
len(df)

8693

In [12]:
df = df.dropna()

In [13]:
df.head()

,username,tweet,location,followers_count
0,ryanstruyk,64% of voters say they are *not satisfied* wit...,"Washington, DC",76489
2,BrainiacBrands,How are you managing with little ones at home?...,United States,51378
3,dailystar,#Coronavirus turns Chinese doctors' skin black...,London,200708
4,TheDailyEdge,@NormOrnstein Tests per 1M/population:\n\n1. I...,Sign up for free email updates,185493
5,renoomokri,Now do you understand why @realFemiOtedola sol...,Currently on exile.,787939

In [19]:
def soundex(word):
    """
    Assign soundex code to words in order to find similar-sounding words
    that may have identical meaning. For location, this could simplify extraction
    of same areas that have different spellings, such ATX for Austin, Texas, or 
    TX for Texas, as soundex removes vowels.
    """
    try:
        result = j.soundex(word)
        return result
    except:
        pass

In [22]:
df['loc_sound'] = df.location.apply(soundex)

In [23]:
df.head()

,username,tweet,location,followers_count,loc_sound
0,ryanstruyk,64% of voters say they are *not satisfied* wit...,"Washington, DC",76489,W252
2,BrainiacBrands,How are you managing with little ones at home?...,United States,51378,U533
3,dailystar,#Coronavirus turns Chinese doctors' skin black...,London,200708,L535
4,TheDailyEdge,@NormOrnstein Tests per 1M/population:\n\n1. I...,Sign up for free email updates,185493,S251
5,renoomokri,Now do you understand why @realFemiOtedola sol...,Currently on exile.,787939,C653

In [29]:
df.groupby('loc_sound')['location', 'loc_sound'].sum().\
            sort_values(by='location', ascending=False).head(25)

/Applications/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

,location,loc_sound
loc_sound,,
U300,"ÜT: 45.246915,-76.163963UtahÜT: 45.246915,-76....",U300U300U300U300U300U300U300U300U300U300U300U3...
V522,"venice, ca + watermill, nyvenice, ca + watermi...",V522V522V522
S526,songWRITER,S526
S263,"secretly here, late as always.",S263
R251,reasonabledoubtpodcast.com,R251
P623,press@discussingfilm.comPrestonPreston,P623P623P623
P414,pale blue dot,P414
O532,on the Jersey side (NYC area)Ohio and Kentucky...,O532O532O532O532O532O532O532
N262,new jerseyNew JerseyNew Jersey ShoreNew Jersey...,N262N262N262N262N262N262N262N262N262N262N262N2...
M510,mumbaiMumbaimumbaiMumbaiMumbaiMumbai,M510M510M510M510M510M510
L222,lagos city,L222
I563,in your head,I563
I532,in the simulation in the simulation,I532I532
I352,iTunes / Spotify / FACEBOOKiTunes / Spotify / ...,I352I352
I150,"iPhone: 40.751663,-73.989670iPhone: 39.518032,...",I150I150I150I150I150I150I150
H312,http://goingredbook.com/http://ccp.digitalhttp...,H312H312H312
E252,eugene@coolquit.com,E252
A262,"across the worldAcross Ireland 102-107FMAccra,...",A262A262A262A262A262A262A262A262A262A262A262A2...
Z620,ZurichZurich,Z620Z620
Z622,Zurich SwitzerlandZurich SwitzerlandZurich Swi...,Z622Z622Z622
Z511,ZimbabweZimbabwe,Z511Z511
Z521,Zanzibar,Z521
Z000,ZH,Z000
Y635,Your team. All the time.,Y635
Y626,"Yorkshire, EnglandYorkshireYorkshireYorkshire ...",Y626Y626Y626Y626Y626Y626Y626Y626

In [31]:
df.groupby('location')['location','loc_sound'].sum()

/Applications/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

,location,loc_sound
location,,
,,000 000
#China will emerge out as a benefactor and ever-trusted ally of #Pakistan,#China will emerge out as a benefactor and ev...,254
Dr. Manjeet Singh Riyat,Dr. Manjeet Singh Riyat,365
"NY""","NY""",500
New York,New York,562
...,...,...
دولة الكويت,دولة الكويت,0
“MAGA Country”,“MAGA Country”,0
▼ Watch My Videos,▼ Watch My Videos,0
北京,北京,0
東京都千代田区,東京都千代田区,0

In [32]:
df.head()

,username,tweet,location,followers_count,loc_sound
0,ryanstruyk,64% of voters say they are *not satisfied* wit...,"Washington, DC",76489,W252
2,BrainiacBrands,How are you managing with little ones at home?...,United States,51378,U533
3,dailystar,#Coronavirus turns Chinese doctors' skin black...,London,200708,L535
4,TheDailyEdge,@NormOrnstein Tests per 1M/population:\n\n1. I...,Sign up for free email updates,185493,S251
5,renoomokri,Now do you understand why @realFemiOtedola sol...,Currently on exile.,787939,C653

In [42]:
df.location.count()

7486

In [45]:
df.groupby('location')['location'].count()

location
                                                                              2
 #China will emerge out as a benefactor and ever-trusted ally of #Pakistan    1
 Dr. Manjeet Singh Riyat                                                      1
 NY"                                                                          1
 New York                                                                     1
                                                                             ..
دولة الكويت                                                                   1
“MAGA Country”                                                                1
▼ Watch My Videos                                                             1
北京                                                                            1
東京都千代田区                                                                       1
Name: location, Length: 1492, dtype: int64

In [47]:
df[df['location']=='北京']

,username,tweet,location,followers_count,loc_sound
2351,aiww,Refugees in Europe Find Their Fate on Hold htt...,北京,377404,None

In [53]:
df[df['location']==' #China will emerge out as a benefactor and ever-trusted ally of #Pakistan']

,username,tweet,location,followers_count,loc_sound
5104,ChinaUSFocus,Rather than facing the blame of starting the #...,#China will emerge out as a benefactor and ev...,"in the minds of the Pakistani public.""",254

In [51]:
df[df['location']==' Dr. Manjeet Singh Riyat']

,username,tweet,location,followers_count,loc_sound
1009,SinghLions,"Hugely Respected"" accident and Emergency consu...",Dr. Manjeet Singh Riyat,who was well-known across the UK has died aft...,365

In [65]:
import datetime
import mysql.connector

cnx = mysql.connector.connect(user='root', database='TwitterTest')
cursor = cnx.cursor()

query = ("SELECT first_name, last_name, hire_date FROM employees "
         "WHERE hire_date BETWEEN %s AND %s")

hire_start = datetime.date(1999, 1, 1)
hire_end = datetime.date(1999, 12, 31)

cursor.execute(query, (hire_start, hire_end))

for (first_name, last_name, hire_date) in cursor:
  print("{}, {} was hired on {:%d %b %Y}".format(
    last_name, first_name, hire_date))

cursor.close()
cnx.close()

ProgrammingError: 1045 (28000): Access denied for user 'root'@'localhost' (using password: NO)

In [89]:
mysql.connector.connect(user='newuser', password='2020TwitterProject!!!',
                        database='TwitterTest', host='127.0.0.1',
                       auth_plugin='mysql_native_password')

ProgrammingError: 1049 (42000): Unknown database 'twittertest'

In [169]:
def fibonacci(n):
    x, y = 0, 1
    for i in range(n):
        x, y = y, x + y
    return x

In [180]:
fibonacci(1260)

94393418122056124388097485130017012168421205337414208162146401481374060347905289865933168590480815538804951560284181429442575920074964835280540085608644366759962699307508408289926860263296584740517991940493574852889712068198772212910603592977565118194745278274320

In [193]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [194]:
for num in nums:
    print(f'Fib({num}) = {fibonacci(num)}')

Fib(1) = 1
Fib(2) = 1
Fib(3) = 2
Fib(4) = 3
Fib(5) = 5
Fib(6) = 8
Fib(7) = 13
Fib(8) = 21
Fib(9) = 34
Fib(10) = 55
Fib(11) = 89
Fib(12) = 144
Fib(13) = 233
Fib(14) = 377
Fib(15) = 610
Fib(16) = 987
Fib(17) = 1597
Fib(18) = 2584
Fib(19) = 4181
Fib(20) = 6765

In [173]:
fibonacci(4)

3